<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Familiares</title>
</head>

<body>
    <h3>Familiares:</h3>
  <p><u>Nombre</u>: {{familia_1.nombre}}
    <br>
     <u>Nacimiento:</u>  {{familia_1.nacimiento}}
    <br>
     <u>Edad:</u>  {{familia_1.edad}}
    <br><br>
    <u>Nombre</u>: {{familia_2.nombre}}
    <br>
    <u> Nacimiento</u>:  {{familia_2.nacimiento}}
    <br>
    <u> Edad</u>:  {{familia_2.edad}}
    <br><br>
    <u>Nombre</u>: {{familia_3.nombre}}
    <br>
    <u> Nacimiento</u>:  {{familia_3.nacimiento}}
    <br>
    <u> Edad</u>:  {{familia_3.edad}}</p>
</body>
</html>